:root {
    --background-color-one: hsl(31, 77%, 52%);
    --background-color-two: hsl(184, 100%, 22%);
    --background-color-three: hsl(179, 100%, 13%);
    --text-main: hsl(0, 0%, 95%);
    --text-secondary: hsl(0, 0%, 100%, 0.75);
}

/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h2,
p {
  margin: 0;
}

button {
  font-family: inherit;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

html:focus-within {
  scroll-behavior: smooth;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* end reset */

body {
    font-family: Lexend Deca, sans-serif;
    background-color: var(--text-secondary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

.flex-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-radius: 8px;
    overflow: hidden;
}

section {
    padding: 2.5em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2em;
}

#sedan {
    background-color: var(--background-color-one);
}

#suv {
    background-color: var(--background-color-two);
}

#luxury {
    background-color: var(--background-color-three);
}

h2 {
    color: var(--text-main);
    font-family: Big Shoulders Display, sans-serif;
    font-size: 2.3rem;
    text-transform: uppercase;
    font-weight: 700;
}

p {
    color: var(--text-secondary);
    font-weight: 300;
    line-height: 1.6;
    letter-spacing: 0 1px;
    font-size: 0.9em;
    max-width: 14em;
}  

button {
    background-color: var(--text-main);
    padding: 1em 2em;
    border: 2px solid transparent; /* otherwise, the size shifted when hovering */
    border-radius: 30px;
    font-size: 0.85em;
    font-weight: 700;
    margin-top: 3em;
  }
  
  #sedan button{
    color: var(--background-color-one);
  }
  
  #suv button {
    color: var(--background-color-two);
  }
  
  #luxury button {
    color: var(--background-color-three);
  }
  
  #sedan button:hover {
    background-color: var(--background-color-one);
    color: var(--text-secondary);
  }
  
  #suv button:hover {
    background-color: var(--background-color-two);
    color: var(--text-secondary);
  }
  
  #luxury button:hover {
    background-color: var(--background-color-three);
    color: var(--text-secondary);
  }
  
  button:hover {
    cursor: pointer;
    border: 2px solid var(--text-main);
  }

  @media only screen and (max-width: 750px){
    .flex-container {
      grid-template-columns: 1fr;
    }
    p {
      min-width: 15em; /* so mobile will be a little thicker */
    }
    button {
      margin-top: 0; /* and a little squatter */
    }
  }
  
  