:root {
    --background-color-one: hsl(31, 77%, 52%);
    --background-color-two: hsl(184, 100%, 22%);
    --background-color-three: hsl(179, 100%, 13%);
    --text-main: hsl(0, 0%, 95%);
    --text-secondary: hsl(0, 0%, 100%, 0.75);
}

/* reset */



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Lexend Deca, sans-serif;
    background-color: var(--text-secondary);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    overflow: hidden;
}

section {
    min-width: 16em;
    min-height: 30em;
    padding: 2.5em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3em;
}

#sedan {
    background-color: var(--background-color-one);
}

#suv {
    background-color: var(--background-color-two);
}

#luxury {
    background-color: var(--background-color-three);
}

h2 {
    color: var(--text-main);
    font-family: Big Shoulders Display, sans-serif;
    font-size: 2.3rem;
    text-transform: uppercase;
    font-weight: 700;
}

p {
    color: var(--text-secondary);
    font-weight: 300;
    line-height: 1.6;
    letter-spacing: 0 1px;
    font-size: 0.9em;
    max-width: 14em;
}  

button {
    background-color: var(--text-main);
    padding: 1em 2em;
    border: 2px solid transparent; /* otherwise, the size shifted when hovering */
    border-radius: 30px;
    font-size: 0.85em;
    font-weight: 700;
  }
  
  #sedan button{
    color: var(--background-color-one);
  }
  
  #suv button {
    color: var(--background-color-two);
  }
  
  #luxury button {
    color: var(--background-color-three);
  }
  
  #sedan button:hover {
    background-color: var(--background-color-one);
    color: var(--text-secondary);
  }
  
  #suv button:hover {
    background-color: var(--background-color-two);
    color: var(--text-secondary);
  }
  
  #luxury button:hover {
    background-color: var(--background-color-three);
    color: var(--text-secondary);
  }
  
  button:hover {
    cursor: pointer;
    border: 2px solid var(--text-main);
  }

  @media only screen and (max-width: 600px){
    .flex-container {
      flex-direction: column;
      height: 100%;
      margin: 1em 0;
    }
  }
  
  